<a href="https://colab.research.google.com/github/Delei09/python_for_finance/blob/develop/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -q yfinance

In [ ]:
# Libs que precisam ser importadas
import pandas as pd
import numpy as np
from pandas_datareader import data
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import yfinance as yf

In [ ]:
# Escolher sempre o start a data a partir que quer traer os dados e o ticktet que quer analisar
gol_df = yf.download("GOLL4.SA", start='2015-01-01')

In [ ]:
# Info dos graficos
gol_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2022 entries, 2015-01-02 to 2023-02-16
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2022 non-null   float64
 1   High       2022 non-null   float64
 2   Low        2022 non-null   float64
 3   Close      2022 non-null   float64
 4   Adj Close  2022 non-null   float64
 5   Volume     2022 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 110.6 KB

In [ ]:
gol_df.head()
# Mostra os 5 primeiros dados do data frame

             Open   High    Low  Close  Adj Close   Volume
Date
2015-01-02  14.97  15.20  14.61  14.99      14.99   901900
2015-01-05  14.90  15.01  14.41  14.85      14.85  1272500
2015-01-06  14.75  15.21  14.65  15.21      15.21  2183500
2015-01-07  15.15  15.33  14.55  14.55      14.55  1846900
2015-01-08  14.41  14.65  14.20  14.27      14.27  1569500

In [ ]:
gol_df.tail(3)
# Mostra os 3 ultimos

            Open  High   Low  Close  Adj Close    Volume
Date
2023-02-14  6.21  6.32  5.83   5.86       5.86  17200500
2023-02-15  5.87  6.21  5.77   6.08       6.08  16452300
2023-02-16  6.06  6.12  5.86   6.03       6.03   8615500

In [ ]:
gol_df.describe()
# Analisar a media dos valores historicos

              Open         High  ...    Adj Close        Volume
count  2022.000000  2022.000000  ...  2022.000000  2.022000e+03
mean     15.216662    15.591434  ...    15.177404  5.723594e+06
std       9.316069     9.486968  ...     9.309177  5.065746e+06
min       1.160000     1.180000  ...     1.160000  0.000000e+00
25%       7.840000     8.042500  ...     7.830000  2.184500e+06
50%      13.800000    14.160000  ...    13.745000  4.235200e+06
75%      21.000000    21.465000  ...    20.895000  7.638625e+06
max      43.669998    44.619999  ...    43.790001  4.368050e+07

[8 rows x 6 columns]

In [ ]:
# Filtrar uma ação de uma coluna especifica
gol_df[gol_df['Close'] >= 43.79]

             Open       High    Low      Close  Adj Close   Volume
Date
2019-08-01  41.25  44.619999  41.25  43.790001  43.790001  6664200

In [ ]:
# Filtrar dois campos para pesquisar valor de coluna especifico
gol_df[(gol_df['Close'] >= 1.15) & (gol_df['Close'] <= 1.16) ]

            Open  High   Low  Close  Adj Close   Volume
Date
2016-01-22   1.2  1.26  1.14   1.16       1.16  3830600

Base de dados com mais ações

In [ ]:
acoes = ['GOLL4.SA', 'CVCB3.SA', 'WEGE3.SA', 'MGLU3.SA', 'TOTS3.SA', 'BOVA11.SA']
acoes_df = pd.DataFrame()
for acao in acoes:
  acoes_df[acao] =  yf.download(acao, start='2015-01-01')['Close']

In [ ]:
acoes_df

In [49]:
# Renomear as colunas
acoes_df =  acoes_df.rename(columns={'GOLL4.SA': 'GOL', 'CVCB3.SA': 'CVC', 'WEGE3.SA': 'WEGE', 'MGLU3.SA': 'MGLU', 'TOTS3.SA': 'TOTS', 'BOVA11.SA': 'BOVA'})
acoes_df.head()

              GOL    CVC      WEGE      MGLU       TOTS       BOVA
Date
2015-01-02  14.99  15.20  5.923076  0.232812  11.910702  47.259998
2015-01-05  14.85  15.00  5.963461  0.237187  11.544731  46.320000
2015-01-06  15.21  14.80  5.875000  0.234062  10.822770  46.580002
2015-01-07  14.55  14.67  5.807692  0.241875  10.746248  48.150002
2015-01-08  14.27  14.15  5.905769  0.240000  10.995774  48.509998

In [ ]:
acoes_df.isnull() # Para se existe valores nulos na tabela

In [51]:
acoes_df.shape # Mostra quantas linha e quantas colunas tem

(2022, 6)

In [52]:
acoes_df.dropna(inplace=True) # Apaga os valores nulos

In [53]:
acoes_df.isnull().sum() # Analisar se alguma ação tem dados nulos

GOL     0
CVC     0
WEGE    0
MGLU    0
TOTS    0
BOVA    0
dtype: int64

In [54]:
acoes_df.columns # Traz todas as colunas

Index(['GOL', 'CVC', 'WEGE', 'MGLU', 'TOTS', 'BOVA'], dtype='object')

In [55]:
acoes_df.describe()

               GOL          CVC  ...         TOTS         BOVA
count  2022.000000  2022.000000  ...  2022.000000  2022.000000
mean     15.177413    27.642282  ...    18.076256    82.255867
std       9.309167    16.391530  ...     9.422948    23.967853
min       1.160000     3.460000  ...     7.156402    36.450001
25%       7.830000    14.750000  ...    10.084173    60.427499
50%      13.745000    21.626166  ...    12.601058    83.209999
75%      20.895000    42.542500  ...    27.510000   103.672501
max      43.790001    64.800003  ...    40.599998   125.750000

[8 rows x 6 columns]